*.Po
*.o
roms/
*.log
*.Plo
*.Pl
.dirstamp
autom4te.cache/
.deps/
*.wasm
*.bin
*.cfg
*log.txt
*.dmp
*.so
*.so.0
*.so.0.0.0
*.la
*.lai
*.lo
/emscripten_assets/
/emscripten_out/
roms.txt
config.status
libtool
Makefile